:root {
  --dark-blue: #1D71F2;
  --light-blue: #19C3FB;
  --cloud-blue: #E3F4FE;
  --creme-yellow: #FFFAE0;
  --sunny-yellow: #FFCD00;
  --border-radius: .3rem;
}

* {
  box-sizing: border-box;
}

.header {
  height: 70px;
  background-color: var(--dark-blue);
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, var(--dark-blue), var(--light-blue));
  padding: 5px;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--cloud-blue);
}

ul {
  list-style: none;
}

input {
  width: 75%;
}

/* SEARCH SECTION */

.btn-primary {
  background-color: var(--light-blue);
  color: var(--cloud-blue);
  margin-top: 20px;
  border-radius: 5px;
  border-color: whitesmoke;
  padding: 6px 131.5px;
  font-size: 17px;
}

.btn-primary :hover {
  color: whitesmoke;
  background-color: var(--dark-blue);
  transform: translate(0, 0);
}

#city-list {
  width: 22rem;
}

/* CURRENT FORECAST SECTION */

#city-date-icon, #city-name, #current-icon {
  display: flex;
  flex-direction: row;
  justify-content: center/space-around/space-between;
}

/* FIVE DAY FORECAST SECTION */

#forecast-cards {
  display: flex;
  flex-direction: row;
  justify-content: center/space-between;
}

.forecast {
  margin: 10px;
}